<!-- model: product instead of @product product is an instant variable while using Partial -->
<% if @product.errors.any? %>
  <div class="alert alert-danger">
    <h2>There were errors with your submission:</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: product do |form| %>
<div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if @product.errors[:name].any? %>
    <div class="error-message">
        <%= @product.errors[:name].join(", ") %>
    </div>
    <% end %>
</div>
<div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
</div>
<br/>
<div>
    <%= form.label :featured_image, style: "display: block" %>
    <%= form.file_field :featured_image, accept: "image/*" %>
</div>
<br/>
<div>
    <%= form.label :inventory_count, style: "display: block" %>
    <%= form.number_field :inventory_count %>
</div>
<div>
    <%= form.submit %>
</div>
<% end %>
<%= link_to "Back", products_path %>